* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    padding: 24px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 24px;
    border: 2px solid black;
    box-shadow: 5px 5px 0 0 black;
    max-width: 384px;
    width: 100%;
}

.hero-image {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 18px;
}

.tag {
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    font-weight: 800;
}

.publication {
    font-weight: 550;
    color: hsl(0, 0%, 7%);
    margin-bottom: 18px;
}

.title {
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    text-decoration: none;
    margin-bottom: 18px;
}

.title:hover {
    color: hsl(47, 88%, 63%);
}

.description {
    color: hsl(0, 0%, 42%);
    font-weight: 500;
    margin-bottom: 18px;
}

.host {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar-image {
    width: 40px;
    height: 40px;
}

.name {
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

@media (max-width: 375px) {
    body {
        padding: 24px;
    }
}